{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-12">

            {% for item in post_items %}
            
            <div class="card text-center col-6 offset-3 mb-3">
                <a href="{% url 'postdetails' item.id %}"><img class="card-img-top" src="{{ item.picture.url }}"></a>
                <div class="card-body">
                    <div class="row text-left mb-4">
                        <div class="col-1">
                            {% if item.user.profile.picture %}
                                <img class="card-img rounded-circle bg-secondary" src="{{ item.user.profile.picture.url }}" style="height: 4rem; width: 4rem;">
                            {% else %}
                                <img class="card-img rounded-circle" src="https://bulma.io/images/placeholders/256x256.png" style="height: 4rem; width: 4rem;">
                            {% endif %}
                        </div>
                        <div class="col-9">
                            <h3 class="card-title">{% if item.user.profile.first_name %} 
                                {{ item.user.profile.first_name }} {{ item.user.profile.last_name }}
                                {% endif %}</h3>
                            <h6 class="card-subtitle mb-2 text-muted">@{{ item.user.username}}</h6>
                        </div>
                        <div class="col-2 text-center">
                            {% if item.liked %}
                                <i class="material-icons text-danger">favorite</i>
                                <p>{{ item.likes }} Likes</p>
                            {% else %}
                                <i class="material-icons-outlined">favorite</i>
                                <p>{{ item.likes }} Likes</p>
                            {% endif %}
                        </div>
                    </div>
                        <p class="card-text text-left">{{ item.caption }}</p>
                        <p class="card-text text-left"><small class="text-muted">Posted on {{ item.posted }}</small></p>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}