{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>InstaClone</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    </head>

    <body class="d-flex flex-column">
            <div class="jumbotron container-fluid flex-fill">
                <div class="row justify-content-center">
                    <div class="col-3">
                        <div class="card text-center">
                            <div class="card-body">
                              <h1 class="card-title">InstaClone</h1>
                              <p class="card-text col-8"> <h5> Sign up to see photos and videos from your friends. </h5> </p>
                              
                              <form method="post" action="">
                                {% csrf_token %}
                                <div class="form-group col-10 offset-1">
                                <h6 class="col-12">Username</h6>
                                  {{ form.username }}
                                </div>
                                <div class="form-group col-10 offset-1">
                                <h6 class="col-12">Email</h6>
                                  {{ form.email }}
                                </div>
                                <div class="form-group col-10 offset-1">
                                <h6 class="col-12">Password</h6>
                                    {{ form.password }}
                                </div>
                                <div class="form-group col-10 offset-1">
                                <h6 class="col-12">Confirm Password</h6>
                                    {{ form.confirm_password }}
                                </div>

                                <div class="row">
                                    <div class="col-12 justify-content-center">
                                    <span style="color: red; font-weight: bold;">{{ form.errors }}</span>
                                    </div>
                                </div>
                                <button type="submit" name="action" class="btn btn-primary col-9">Sign up</button>
                                
                                <input type="hidden" name="next" value="{{ next }}">
                                

                              </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
    </body>

    

</html>